<form action="/Tickets/AddTicket" method="post">
    <label>
        Title
    </label>
    <input type="text" name="title" />
    <label>
        Price
    </label>
    <input type="number" name="price" />

    <button> Submit </button>
</form>